### 1. 더미데이터 생성
- create_dummy()

In [1]:
import random
import datetime
import time
import pandas as pd

def create_dummy():
    # Define the range of values for each vital sign
    heart_rate_range = (60, 100)
    oxygen_saturation_range = (95, 100)
    body_temperature_range = (36.0, 37.5)
    step_stride_range = (60, 80)

    # Define a list of 10 names for our construction workers
    names = ['최정인', '김민수', '손재우', '윤진식', '박경관', '금민경', '최한수', '이정민', '이창현', '김찬준']

    # Define the start and end times for the generated data
    start_time = datetime.datetime(2023, 2, 21, 0, 0, 0)  # February 21st, 2023, 12:00:00 AM
    end_time = datetime.datetime(2023, 2, 22, 0, 0, 0)  # February 22nd, 2023, 12:00:00 AM
    
    # start_time = datetime.datetime.now()
    # end_time = start_time + datetime.timedelta(seconds = 1)
    # Define the time intervals between measurements (in seconds)
    time_interval = 1

    # Define the standard deviation for the normal distribution of each vital sign
    heart_rate_stddev = 5
    oxygen_saturation_stddev = 1
    body_temperature_stddev = 0.1
    step_stride_stddev = 2

    # Define the range of values for GPS coordinates, gyrosensor readings, and accelerometer readings
    gps_latitude_range = [35.168008 , 35.169691]  # Busan, Republic of Korea
    gps_longitude_range = [129.139300, 129.141249]  # Busan, Republic of Korea
    gyrosensor_x_range = (-10, 10)
    gyrosensor_y_range = (-10, 10)
    gyrosensor_z_range = (-10, 10)
    accelerometer_x_range = (-2, 2)
    accelerometer_y_range = (-2, 2)
    accelerometer_z_range = (-2, 2)

    # Define the range of values for worker ID and age
    worker_id_range = (1000, 1010)
    age_range = (25, 55)

    # Define an empty list to hold the generated data
    construction_workers = []
    # Loop through each worker and generate their data for every second of the day
    for name in names:
        current_time = start_time
        heart_rate = random.randint(*heart_rate_range)
        oxygen_saturation = random.randint(*oxygen_saturation_range)
        body_temperature = round(random.uniform(*body_temperature_range), 1)
        step_stride = random.randint(*step_stride_range)
        gps_latitude = round(random.uniform(*gps_latitude_range), 6)
        gps_longitude = round(random.uniform(*gps_longitude_range), 6)
        gyrosensor_x = random.uniform(*gyrosensor_x_range)
        gyrosensor_y = random.uniform(*gyrosensor_y_range)
        gyrosensor_z = random.uniform(*gyrosensor_z_range)
        accelerometer_x = random.uniform(*accelerometer_x_range)
        accelerometer_y = random.uniform(*accelerometer_y_range)
        accelerometer_z = random.uniform(*accelerometer_z_range)
        worker_id = random.randint(*worker_id_range)
        age = random.randint(*age_range)
        password = ''.join(random.choices('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890', k=8))
        for i in range(int((end_time - start_time).total_seconds())):
            heart_rate += random.normalvariate(0, heart_rate_stddev)
            heart_rate = max(min(round(heart_rate), heart_rate_range[1]), heart_rate_range[0])
            oxygen_saturation += random.normalvariate(0, oxygen_saturation_stddev)
            oxygen_saturation = max(min(round(oxygen_saturation), oxygen_saturation_range[1]), oxygen_saturation_range[0])
            body_temperature += random.normalvariate(0, body_temperature_stddev)
            body_temperature = max(min(round(body_temperature, 1), body_temperature_range[1]), body_temperature_range[0])
            step_stride += random.normalvariate(0, step_stride_stddev)
            step_stride = max(min(round(step_stride), step_stride_range[1]), step_stride_range[0])
            gps_latitude += random.uniform(-0.0001, 0.0001)
            gps_latitude = max(min(round(gps_latitude, 6), gps_latitude_range[1]), gps_latitude_range[0])
            gps_longitude += random.uniform(-0.0001, 0.0001)
            gps_longitude = max(min(round(gps_longitude, 6), gps_longitude_range[1]), gps_longitude_range[0])
            gyrosensor_x += random.uniform(-0.05, 0.05)
            gyrosensor_x = max(min(round(gyrosensor_x, 17), gyrosensor_x_range[1]), gyrosensor_x_range[0])
            gyrosensor_y += random.uniform(-0.05, 0.05)
            gyrosensor_y = max(min(round(gyrosensor_y, 17), gyrosensor_y_range[1]), gyrosensor_y_range[0])
            gyrosensor_z += random.uniform(-0.05, 0.05)
            gyrosensor_z = max(min(round(gyrosensor_z, 17), gyrosensor_z_range[1]), gyrosensor_z_range[0])
            accelerometer_x += random.uniform(-0.02, 0.02)
            accelerometer_x = max(min(round(accelerometer_x, 17), accelerometer_x_range[1]), accelerometer_x_range[0])
            accelerometer_y += random.uniform(-0.02, 0.02)
            accelerometer_y = max(min(round(accelerometer_y, 17), accelerometer_y_range[1]), accelerometer_y_range[0])
            accelerometer_z += random.uniform(-0.02, 0.02)
            accelerometer_z = max(min(round(accelerometer_z, 17), accelerometer_z_range[1]), accelerometer_z_range[0])
            row = {
                'Name': name,
                'Time': current_time,
                'Heart Rate': heart_rate,
                'Oxygen Saturation': oxygen_saturation,
                'Body Temperature': body_temperature,
                'Step Stride': step_stride,
                'GPS Latitude': gps_latitude,
                'GPS Longitude': gps_longitude,
                'Gyrosensor X': gyrosensor_x,
                'Gyrosensor Y': gyrosensor_y,
                'Gyrosensor Z': gyrosensor_z,
                'Accelerometer X': accelerometer_x,
                'Accelerometer Y': accelerometer_y,
                'Accelerometer Z': accelerometer_z,
                'Worker ID': worker_id,
                'Age': age,
                'Password': password
            }
            construction_workers.append(row)
            current_time += datetime.timedelta(seconds=time_interval)
       
    return construction_workers

In [2]:
dummy_data = pd.DataFrame(create_dummy())
dummy_data

,Name,Time,Heart Rate,Oxygen Saturation,Body Temperature,Step Stride,GPS Latitude,GPS Longitude,Gyrosensor X,Gyrosensor Y,Gyrosensor Z,Accelerometer X,Accelerometer Y,Accelerometer Z,Worker ID,Age,Password
0,최정인,2023-02-21 00:00:00,90,97,37.0,70,35.169269,129.140998,-4.904362,-3.831836,-7.080655,0.899105,-1.066316,-0.921667,1003,44,VWAiDxnw
1,최정인,2023-02-21 00:00:01,89,95,36.9,73,35.169206,129.141000,-4.929604,-3.791498,-7.095850,0.903611,-1.074730,-0.920565,1003,44,VWAiDxnw
2,최정인,2023-02-21 00:00:02,80,95,36.9,74,35.169245,129.141001,-4.940588,-3.761356,-7.070034,0.899126,-1.057383,-0.933407,1003,44,VWAiDxnw
3,최정인,2023-02-21 00:00:03,74,95,37.0,73,35.169176,129.140945,-4.922905,-3.773480,-7.030453,0.904918,-1.067438,-0.916600,1003,44,VWAiDxnw
4,최정인,2023-02-21 00:00:04,82,96,37.2,71,35.169113,129.141027,-4.910934,-3.762490,-7.035554,0.895917,-1.081338,-0.917564,1003,44,VWAiDxnw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863995,김찬준,2023-02-21 23:59:55,60,98,37.0,79,35.168779,129.139366,0.996649,8.274061,9.001353,-0.878287,-1.565387,0.343470,1010,25,cfWEk74F
863996,김찬준,2023-02-21 23:59:56,60,98,37.1,77,35.168752,129.139362,1.033488,8.244311,8.998798,-0.871761,-1.582860,0.353219,1010,25,cfWEk74F
863997,김찬준,2023-02-21 23:59:57,60,99,37.0,73,35.168700,129.139306,1.068980,8.269680,8.955855,-0.890906,-1.575628,0.341250,1010,25,cfWEk74F
863998,김찬준,2023-02-21 23:59:58,60,100,37.0,72,35.168674,129.139300,1.096789,8.267562,8.930066,-0.904136,-1.574872,0.347155,1010,25,cfWEk74F
863999,김찬준,2023-02-21 23:59:59,60,99,36.9,73,35.168682,129.139300,1.059488,8.293391,8.971010,-0.922692,-1.588360,0.332180,1010,25,cfWEk74F

In [3]:
activity = dummy_data[['Worker ID', 'Accelerometer X', 'Accelerometer Y', 'Accelerometer Z', 'Gyrosensor X', 'Gyrosensor Y', 'Gyrosensor Z' ]]
activity

,Worker ID,Accelerometer X,Accelerometer Y,Accelerometer Z,Gyrosensor X,Gyrosensor Y,Gyrosensor Z
0,1003,0.899105,-1.066316,-0.921667,-4.904362,-3.831836,-7.080655
1,1003,0.903611,-1.074730,-0.920565,-4.929604,-3.791498,-7.095850
2,1003,0.899126,-1.057383,-0.933407,-4.940588,-3.761356,-7.070034
3,1003,0.904918,-1.067438,-0.916600,-4.922905,-3.773480,-7.030453
4,1003,0.895917,-1.081338,-0.917564,-4.910934,-3.762490,-7.035554
...,...,...,...,...,...,...,...
863995,1010,-0.878287,-1.565387,0.343470,0.996649,8.274061,9.001353
863996,1010,-0.871761,-1.582860,0.353219,1.033488,8.244311,8.998798
863997,1010,-0.890906,-1.575628,0.341250,1.068980,8.269680,8.955855
863998,1010,-0.904136,-1.574872,0.347155,1.096789,8.267562,8.930066
863999,1010,-0.922692,-1.588360,0.332180,1.059488,8.293391,8.971010

In [4]:
pd.to_timedelta(3*1000000000)

Timedelta('0 days 00:00:03')

### 기타 정보 더미데이터 생성
- deviceName : ph, w
- battery : 100 - a
- position
- role
- employDate
- workPlace
- onWork
- offWork
- attend

In [5]:
import datetime
from dateutil.relativedelta import relativedelta
from faker import Faker

def create_etc_dummy():

    # Define a list of 10 names for our construction workers
    device = ['ph', 'w']
    job_position = ['부장', '과장', '대리', '주임', '사원']
    job_role = ['철골', '조적', '방수', '미장', '목공', '콘크리트']
    job_workPlace = ['A', 'B', 'C']
    userId = list(activity['Worker ID'].unique())
    work_attend = [0,1]
    
    # Faker 
    fake = Faker()
    
    # Define the range of values for each vital sign
    battery_range = (0, 100)

    # Define the start and end times for the generated data    
    start_time = datetime.datetime(2023, 2, 21, 0, 0, 0)  # February 21st, 2023, 12:00:00 AM
    end_time = datetime.datetime(2023, 2, 22, 0, 0, 0)  # February 22nd, 2023, 12:00:00 AM
    
    work_start = datetime.datetime(2023, 2, 21, 5 , 0, 0)  # February 21st, 2023, 05:30:00 AM
    timdDiff_onWork = datetime.timedelta(minutes=30)
    
    work_end = datetime.datetime(2023, 2, 21, 15 , 0, 0)
    timdDiff_offWork = datetime.timedelta(hours = 3)
    
    # Define the time intervals between measurements (in seconds)
    time_interval = 1
    device_interval = 20
    battery_stddev = 2

    # Define an empty list to hold the generated data
    workers_info = []
    
    # Loop through each worker and generate their data for every second of working Day
    for id in userId:
        current_time = start_time
        deviceName = device[random.randint(0,1)]
        position = job_position[random.randint(0,4)]
        role = job_role[random.randint(0,5)]
        workPlace = job_workPlace[random.randint(0,2)]
        battery = 100 
        hired_date = fake.date_between(start_date='-20y', end_date='today')
        
        onWork = fake.date_time_between(start_date=work_start, end_date= work_start + timdDiff_onWork)
        if current_time > onWork:
            onWork = "-"
        else :
            onWork = onWork
        
        offWork = fake.date_time_between(start_date=work_end, end_date= work_end + timdDiff_offWork)
        if current_time <= offWork:
            offWork = offWork
        else : 
            offWork = "-"

        if onWork != "-" and offWork !="-":
            attend = 1
        else:
            attend = 0
        for i in range(int((end_time - start_time).total_seconds())):   

            battery -= random.normalvariate(0, battery_stddev)
            battery = max(min(round(battery), battery_range[1]), battery_range[0])

            row = {
                'Time': current_time,
                'userId' : id,
                'battery' : battery,
                'deviceName': deviceName, 
                'position': position,
                'role': role,
                'employDate': hired_date,
                'workPlace': workPlace,
                'onWork': onWork,
                'offWork': offWork,
                'attend': attend
            }
            workers_info.append(row)
            current_time += datetime.timedelta(seconds=time_interval)
    return workers_info

In [6]:
etc = pd.DataFrame(create_etc_dummy())
etc

,Time,userId,battery,deviceName,position,role,employDate,workPlace,onWork,offWork,attend
0,2023-02-21 00:00:00,1003,100,w,주임,목공,2016-07-18,B,2023-02-21 05:19:46,2023-02-21 17:14:58,1
1,2023-02-21 00:00:01,1003,99,w,주임,목공,2016-07-18,B,2023-02-21 05:19:46,2023-02-21 17:14:58,1
2,2023-02-21 00:00:02,1003,100,w,주임,목공,2016-07-18,B,2023-02-21 05:19:46,2023-02-21 17:14:58,1
3,2023-02-21 00:00:03,1003,98,w,주임,목공,2016-07-18,B,2023-02-21 05:19:46,2023-02-21 17:14:58,1
4,2023-02-21 00:00:04,1003,95,w,주임,목공,2016-07-18,B,2023-02-21 05:19:46,2023-02-21 17:14:58,1
...,...,...,...,...,...,...,...,...,...,...,...
518395,2023-02-21 23:59:55,1010,30,w,사원,목공,2007-09-20,A,2023-02-21 05:14:43,2023-02-21 15:23:53,1
518396,2023-02-21 23:59:56,1010,31,w,사원,목공,2007-09-20,A,2023-02-21 05:14:43,2023-02-21 15:23:53,1
518397,2023-02-21 23:59:57,1010,31,w,사원,목공,2007-09-20,A,2023-02-21 05:14:43,2023-02-21 15:23:53,1
518398,2023-02-21 23:59:58,1010,32,w,사원,목공,2007-09-20,A,2023-02-21 05:14:43,2023-02-21 15:23:53,1
518399,2023-02-21 23:59:59,1010,34,w,사원,목공,2007-09-20,A,2023-02-21 05:14:43,2023-02-21 15:23:53,1

In [7]:
from faker import Faker
fake = Faker()
start_time = datetime.datetime(2023, 2, 21, 0, 0, 0)  # February 21st, 2023, 12:00:00 AM
end_time = datetime.datetime(2023, 2, 22, 0, 0, 0)  # February 22nd, 2023, 12:00:00 AM

work_start = datetime.datetime(2023, 2, 21, 5 , 0, 0)  # February 21st, 2023, 05:30:00 AM
timdDiff_onWork = datetime.timedelta(minutes=30)

work_end = datetime.datetime(2023, 2, 21, 15 , 0, 0)
timdDiff_offWork = datetime.timedelta(hours = 3)

onWork = fake.date_time_between(start_date=work_start, end_date= work_start + timdDiff_onWork)

time_interval = 1

current_time  = start_time
current_time += datetime.timedelta(seconds=time_interval)